body {
	margin: 0;
	padding: 0;
   font-family: PlayfairDisplay-Regular;   
	color: #626262;
}


@font-face {
   font-family: PlayfairDisplay-Regular;
   src: url(../fonts/PlayfairDisplay-Regular.ttf);
}


@font-face {
   font-family: Ubuntu-Light;
   src: url(../fonts/Ubuntu-Light.ttf);
}
/*header start*/

header {
	padding: 60px 0;
}


.container {
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
}

/*logo start*/


.logo {
	float: left;
	width: 12%;
	padding: 9px 0;
}

.logo img{
	width: 100%;
}


/*menu start*/

.menu {
	float: right;
	width: 70%;

}
.menu ul {
	float: right;
}

.menu ul li {
	float: left;
	list-style: none;
}

.menu ul li a {
	text-transform: uppercase;
	margin: 0 121px;
	display: inline-block;
	color: #626262;
	text-decoration: none;	
	border-bottom: 1px solid white;
}

.menu ul li a:hover {
	color: black;
	border-bottom: 1px solid black;
}
.menu ul li a:last-child {
	margin-right: 0;
}

/*header end*/


/*banner start*/

.banner {
	padding: 0;
	margin: 0 auto;
}

.banner img {
	width: 100%;
}

/*banner end*/



/*blog 1 start*/

.container2 {
	overflow: hidden;
	width: 75%;
	margin: 0 auto;
	padding: 86px 10px;
}


.container2 h3{
	font-family: Ubuntu-Light;
	font-size: 15px;
	font-weight: 300;
	color: #b8b3a9;
	text-transform: uppercase;

}
.container2 h2{
	font-size: 30px;
	font-weight: 400;

}
.container2 p{
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 57px;
}


/*bloag 1 end*/


/*blog 2 start*/


.b_img {
	float: left;
	width: 47%;
	margin: 0 6% 6% 0;
}

.b_img img {
	width: 100%;
}

.b_img img:hover{
	box-shadow: 2px 4px 10px 0px rgba(98,98,98,0.7);
}

.container2 .b_img:nth-child(2) {
	margin-right: 0;
}

.container2 .b_img:last-child {
	margin-right: 0;
}

/*bloag 2 end*/

/*newsletter start*/

.newsletter {
	min-height: 187px;
	padding: 75px 0;
	background-color: #f0f0f0;
	text-align: center;
}


.newsletter h2 {
	font-size: 30px;
	margin: 0;
	padding-bottom: 85px;
}

.signup {
	width: 400px;
	margin: 0 auto;
}

.signup form {
	position: relative;
}

.signup form input {
	width: 345px;
	min-height: 35px;
	font-size: 15px;
	color: #757575;
	background-color: transparent;
	border: none;
	padding-left: 5px;
	padding-right: 50px;
	border-bottom: 1px solid;
}

.signup form input:focus {
	outline: 0;
}

.signup form button {
	position: absolute;
	top: 10px;
	right: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}


.signup form button:focus {
	outline: 0;

}

.signup form button img {
	width: 100%;
}

/*load more*/

.load {
	position: relative;
	width: 165px;
	min-height: 60px;
	margin: 0 auto;
	border: 1px solid;

}

.load:hover{
	box-shadow: 1px 2px 5px 0px rgba(98,98,98,0.7);
}

.load button {
	position: absolute;
	top: 15px;
	width: 100%;
   font-family: PlayfairDisplay-Regular;  
	font-size: 20px;	
	color: #757575;
	border: none;
	background-color: transparent;
	cursor: pointer;

}
.load button:focus{
	outline: 0;
}


/*footer start*/

footer {
	min-height: 97px;	
	margin-top: 192px;
	background-color: #f0f0f0;
}

.container3 {
	overflow: hidden;
	width: 75%;
	margin: 0 auto;
	padding: 20px 10px;
}


.terms {
	float: left;
	width: 45%;
}

.terms ul {
	float: left;
	padding: 0;
}

.terms ul li {
	float: left;
	list-style: none;
}

.terms ul li a {
	margin: 0 16px;
	display: inline-block;
	font-size: 15px;
	color: black;
	text-decoration: none;
}

.terms ul li a:hover {
	color: #626262;
}
.terms ul li a:first-child {
	margin-left: 0;
}


.follow {
	float: right;
	width: 40%;
}

.follow ul {
	float: right;
}

.follow ul li {
	float: left;
	list-style: none;
}

.follow ul li a {
	margin: 0 16px;
	display: inline-block;
	font-size: 15px;
	color: black;
	text-decoration: none;
}

.follow ul li a:hover {
	color: #626262;
}
.follow ul li a:last-child {
	margin-right: 0;
}
/*footer end*/
